<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="#">Database Project</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-md-auto">
			<% if (!locals.user) { %>
				<li class="nav-item active">
					<a class="nav-link" href="/register">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
			<% } %>
			<% if (locals.user) { %>
				<li class="nav-item active">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
			<% } %>
		</ul>
	</div>
</nav>
